{# empty Twig template #}
{% extends 'base.html.twig' %}
{% form_theme formulario 'bootstrap_4_layout.html.twig' %}
{% block title %}Clientes{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col-10">
        <h1 class="h3 mb-3 font-weight-normal">Formulario de Registro de Cliente</h1>
        {{ form(formulario) }}
    </div>
{% endblock %}
